{% extends "base.html" %}
{% block content %}
<h1 class="text-3xl font-bold text-blue-300 text-center mt-20">Բարի գալուստ StudentAI</h1>
<h2 class="text-xl text-blue-800 text-center m-10 w-80 block mx-auto"> Դուք դեռ գրանցված չեք համակարգում, մուտքագրեք ձեր ստացած գաղտնի բանալին կամ ձեռք բերեք այն <a href="https://t.me/joka3a"> այստեղ</a></h2>
<input type="password" class="border-2 border-blue-500 rounded-xl text-center mx-auto block m-10 min-w-80 min-h-10" placeholder="secret-key">
<button class="bg-blue-800 text-white text-center block mx-auto px-10 py-5 m-10 rounded-xl ">Գրանցվել</button>
{% endblock %}